.pagina{
    display: grid;
    grid-template-areas: 
    "nav "
    "main"
    "footer"
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.navbar{
    grid-area: nav;
    overflow: hidden;
}
.container__flores{
    grid-area: main;
}
.rodape{
    grid-area: footer;
    text-align: center;
    padding: 20px;
}

#section1, #section2, #section3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    text-align: center;
}
/*estilizando os itens dentro das seções*/
.flores__item{
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
    background-color: rgb(146, 114, 72);
    padding: 5px;
    font-size: 1.2em;
}
.flores__item figure img{
    width: 100%;
    display: block;
}


